.footer--wave-svg {
  min-width: 100vw;
  padding: 0;
  padding-right: -2rem;
}

.footer {
  margin-top: -0.3rem;
  min-width: 100vw !important;
  background-color: #dbdbdb;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
}

.footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer .footer-info .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  letter-spacing: 1px;
}

.footer .footer-info .bottom-section img {
  width: 100px;
  height: auto;
}

.footer .footer-info .bottom-section .bruno {
  color: #048bda;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.footer .footer-info .bottom-section .bruno span {
  color: #636363;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer .footer-info .bottom-section .more-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.footer .footer-info .bottom-section .more-projects p {
  line-height: 1.5rem;
}

.footer .footer-info .bottom-section .more-projects span {
  color: #636363;
  line-height: 1.5rem;
}

.footer .footer-info .bottom-section .more-projects a {
  color: #636363;
  font-size: 2rem;
  margin: 1rem;
}

.footer .footer-info .bottom-section .more-projects a i {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.footer .footer-info .bottom-section .more-projects a i:hover {
  color: #048bda;
}

.footer .footer-info .bottom-section .copyright {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.footer .footer-info .bottom-section .copyright .tomato {
  color: tomato;
}
/*# sourceMappingURL=footer.css.map */