@import "../../css/animation.scss";
@import "../../css/fonts-color.scss";

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    background-color: #67c4b9;
    color: white;
    padding: 1rem 3.5rem;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      cursor: pointer;
      color: #f5f0c9;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
