@import "../../css/animation.scss";

$bottom-beige-bg: #f0f0f0;
$font-gray: #7d7c7c;

.toolbar {
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  height: 70px;
  z-index: 150;
  padding: 0.2rem;

  a {
    color: $bottom-beige-bg;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 150;
    letter-spacing: 1px;
    padding: 0.4rem !important;

    &:hover {
      cursor: pointer;
    }

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $font-gray;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .toolbar__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 1rem;

    .toolbar__button {
      display: none;
    }
    img {
      width: 45px;
      margin-left: 1rem;
      padding: 0.3rem;
    }

    .toolbar__logo {
      a {
        color: lightseagreen;
      }
    }
    .toolbar__nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        padding: 0.5rem;
      }
    }
  }
  .spacer {
    flex: 1;
    height: 100%;
  }
}

@media (max-width: 950px) {
  .toolbar {
    .toolbar__navigation {
      .toolbar__logo {
        position: absolute;
        left: 50%;
      }
      .toolbar__button {
        display: block;
      }
      .toolbar__nav-items {
        display: none;
      }
    }
  }
}

.App__top-right {
  position: absolute;
  width: 25%;
  top: 0;
  left: 78%;
  position: fixed;
}
