@import "../../css/animation.scss";
@import "../../css/fonts-color.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 80vh;
  margin-top: 3rem;
  padding: 2rem;

  .home__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    width: 100vw;
    .title__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 45%;
      border: 1px solid red;

      h3 {
        font-size: 4rem;
        color: #4d4d4d;
      }
      p {
        margin: 1rem;
        color: #4d4d4d;
        font-size: 1.5rem;
        padding: 0.2rem 0;
      }
    }
    .title__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 50vh;
    }
  }

  .home__body {
  }
}
