.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 65px;
}

h1 {
  margin: 1em;
  font-size: 3rem;
  color: #7d7c7c;
  text-transform: uppercase;
}
.students-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 0.5rem;
}
